/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
/* Castoro */
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

:root {
	--content-width: 56em;
}

body, .vertical-fill-wrapper {
	min-height: 100vh;
}

main {
	width: min(var(--content-width), 100%);
	margin: 0 auto;
	padding: 5em 2em;
}

figcaption {
	font-style: italic;
	color: grey;
	font-size: small;
}
